<!doctype html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/mysite.css') }}"></head>
    <body>
        <h1>This is a page for plotting weather</h1>
        <div class='menu'>
            <div class="back">
                <a href="{{ url_for('start') }}" class="button3">back</a>
            </div>
            <form method="post" class="form">
                        <input type="text" name="city" placeholder="City, CS" value="{{ request.form['city'] }}"></input>
                        <input type="text" name="start_date" placeholder="Start Date" value="{{ request.form['start_date'] }}"></input>
                        <input type="text" name="end_date" placeholder="End Date" value="{{ request.form['end_date'] }}"></input>
                        <button type="submit" class="button3">Submit</button>
            </form> 
        </div>
        <div id='chart' class='chart'”></div>
    </body>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
        var graphs = {{graphJSON | safe}};
        Plotly.plot('chart',graphs,{});
</script></html>
</html>
